mat-sidenav{
    background-color: rgba(230, 230, 247, 0.809);
}

mat-expansion-module{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-expansion-panel-header{
    height: 100%;
}

a[mat-raised-button]{
    color: white;
}